.lastNewsTitle {
    display: flex;
    flex-direction: column;
    margin: 5vh 0 5vh 1vh;
    width: max-content;
}

.lastNewsTitle h1 {
    text-transform: uppercase;
    font-weight: normal;
}

.lastNewsTitle hr {
    background-color: #ffa801;
    height: 4px;
    outline: 0;
    border: 0;
}