.lastNewsTitle {
    display: flex;
    flex-direction: column;
    margin: 5vh 0 5vh 1vh;
    width: max-content;
}

.lastNewsTitle h1 {
    text-transform: uppercase;
    font-weight: normal;
    color: var(--orange);
}

.lastNewsTitle hr {
    background-color: var(--orange);
    height: 4px;
    outline: 0;
    border: 0;
}