.header {
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100vw;
    background-color: var(--green);
    justify-content: space-between;
    align-items: flex-end;
}

.header .headerLogo {
    height: 100%;
}

.header .navMenu {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    color: white;
    margin-bottom: 10px;
}

.header .navMenu .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navMenu .searchInput {
    outline: 0;
    border: 0;
    width: 0;
    height: 80%;
    border-radius: 13px;
    padding-left: 5px;
    display: none;
}

.header .navMenu .searchInput.active {
    animation: search-input-animation 0.5s forwards ease;
    display: block;
}

.header .navMenu .searchIcon {
    font-size: 32px;
}

@keyframes search-input-animation {
    from {
        width: 0;
    }to {
        width: 80%;
    }
}