.homeContent {
    overflow-y: auto;
    height: 89vh;
}

.homeContent::-webkit-scrollbar {
    width: 0.5em;
}
.homeContent::-webkit-scrollbar-track {
    background-color: #d2dae2;
}
.homeContent::-webkit-scrollbar-thumb {
    background-color: #808e9b;
}